<ion-header>
  <ion-toolbar>
    <ion-title>cadastrar usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #fc="ngform" (ngSubmit)="onsubmit(fc)">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="number" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

  <ion-item lines="none">
  <ion-button color="success">Cadastrar</ion-button>
  <ion-button color="danger">Cancelar</ion-button>
  </ion-item>

</form>
</ion-content>