<ion-header>
  <ion-toolbar>
    <ion-title>cadastrar usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item lines="none">
  <img src="assets/perfil.png" (click)="tirarFoto()" *ngIf="!preview">
  <img [src]="preview" (click)="tirarFoto()" *ngIf="preview">
</ion-item>

  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="usuario.tel" name="tel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.pws" name="pws" required minlength="7" #p="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="p.invalid && p.dirty">senha muita curta!</ion-text>

    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input type="password" (ngModel)="conf" name="conf" required #conf="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="(p.value != conf.value) && conf.dirty">senha diferente!</ion-text>
    <!-- pws.value != conf.value && pws.dirty -->

    <ion-item lines="none">
      <ion-button type="submit" [disabled]="fc.invalid || (p.value != conf.value)">Salvar</ion-button>
      <ion-button type="reset" color="danger">Cancelar</ion-button>
    </ion-item>

  </form>
</ion-content>