<ion-header>
  <ion-toolbar>
    <ion-title>
      Pedidos 
    </ion-title>
    <ion-title slot="end">
    <ion-icon name="person-add" routerLink="/login"></ion-icon>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="entregas">
    <ion-card *ngFor="let u of entregas" [routerLink]="['/tabs/perfilEntrega/',u.key]">
      <!-- <img src="/assents/shapes.svg" alt=""/> -->
      <ion-card-header>
        <ion-card-subtitle>{{u.valor}}</ion-card-subtitle>
        <ion-card-title  >{{u.produto}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{u.descricao}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>