<ion-header>
  <ion-toolbar>
    <ion-title>Login do Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="pws" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <section>
      <ion-button type="submit" expand="block" [disabled]="fc.invalid">Salvar</ion-button>
      <ion-button type="reset" expand="block" color="danger">Cancelar</ion-button>
    </section>

    <section>
      <ion-button expand="block" [disabled]="fc.invalid" (click)="loginWEB()">Entrar com o Google</ion-button>
    </section>
    <section>
      <ion-button expand="block" color="danger"(click)="logout()">Sair</ion-button>
    </section>

  </form>
</ion-content>